@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    // pour que le footer soit toujours en bas
    position:relative;
    min-height : 100%;
}

main{
    // pour que le main ne passe pas en dessous du footer
    margin-bottom : 250px;
}

footer.footer{
    padding: 15px;

    //pour que le footer soit toujours en bas
    position : absolute;
    bottom : 0;
    width : 100%;
}